@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<doan.Models.Product>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Home/Index"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Nam giới</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Danh Mục dành cho Nam giới</h4>
                </div>
            </div>
        </div>

        <div class="row property__gallery">
            @foreach (var item in Model)
            {
                string sUrl = $"/product/{item.Alias}-{item.ProductID}.html";

                <div class="col-lg-3 col-md-4 col-sm-6 product-item" data-category="@item.CategoryProductID">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@item.Image">
                            @if (item.IsNew)
                            {
                                <div class="label new">Mới</div>
                            }
                            @if (item.IsBestSeller)
                            {
                                <div class="label bestseller">Bán chạy</div>
                            }
                            <ul class="product__hover">
                                <li><a href="@item.Image" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a asp-route="addcart" asp-route-productid="@item.ProductID"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="@sUrl">@item.Title</a></h6>
                            <div class="rating">
                                @for (int i = 0; i < @item.Rating; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            </div>
                            <div class="product__price">
                                @if (item.PriceSale == 0)
                                {
                                    <i class="new-price">@item.Price VNĐ</i>
                                }
                                else
                                {
                                    <i class="new-price">@item.PriceSale VNĐ</i>
                                    <span class="old-price">@item.Price VNĐ</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-12">
            <div class="pagination-area pt-10">
                <nav aria-label="Page navigation example">
                    @Html.PagedListPager(Model, page => Url.Action("DanhMuc2", new { page = page }), new PagedListRenderOptions()
                    {
                    ActiveLiElementClass = "active",
                    PageClasses = new[]{ "page-link"},
                    LiElementClasses=new[] { "page-item" },
                    UlElementClasses = new[] { "pagination", "justify-content-center"},
                    })
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<style>
    .categories__item {
        border-radius: 10px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
        overflow: hidden; /* Để đảm bảo hình ảnh không bị tràn ra ngoài khung */
    }
    /* Thêm CSS để tùy chỉnh màu cho nhãn "Bán chạy" */
    .label.bestseller {
        background-color: #ca1515;
        color: #ffffff;
    }
</style>