@using doan.Models;
@model IList<Menu>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Danh sách menu shop
                    </h1>
                    <p>
                        <a class="btn btn-success" href="@Url.Action("Create", "Menus")">Thêm menu web</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý menu</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="col-1 text-center">STT</th>
                                        <th class="col-1 text-center">Tiêu đề</th>
                                        <th class="col-1 text-center">Liên kết</th>
                                        <th class="col-1 text-center">Cấp</th>
                                        <th class="col-1 text-center">Menu cha</th>
                                        <th class="col-1 text-center">Thứ tự</th>
                                        <th class="col-1 text-center">Ẩn/Hiện</th>
                                        <th class="col-1 text-center">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr id="tr_@item.MenuID">
                                            <th class="text-center">@(i++)</th>
                                            <td class="text-center">@item.Title</td>
                                            <td class="text-center">@item.Alias</td>
                                            <td class="text-center">@item.Levels</td>
                                            <td class="text-center">@item.ParentID</td>
                                            <td class="text-center">@item.MenuOrder</td>
                                            <td class="text-center">@item.IsActive</td>
                                            <td class="text-center">
                                                <a class="btn btn-success btn-sm" href="@Url.Action("Edit", "Menu", new { id = item.MenuID })">Sửa</a> |
                                                <a class="btn btn-danger btn-sm btn-delete" href="@Url.Action("Delete", "Menu", new { id = item.MenuID })">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>